name: iOS HealthCheck

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    name: "Build and Test the app"
    runs-on: macos-26
    strategy:
      matrix:
        xcode: ['26.0']

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: make build_app
      - name: Test
        run: make test_app
  backend:
    name: Build Backend
    runs-on: macos-26
    strategy:
      matrix:
        xcode: ['26.0']

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: swift build --package-path ./CorporateTestflightBackend
